apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  namespace: sonar
  labels:
    app: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      containers:
        - name: sonarqube
          image: sonarqube:latest
          env:
            - name: SONARQUBE_JDBC_URL
              value: jdbc:postgresql://sonarqube-postgresql:5432/sonardb
            - name: SONARQUBE_JDBC_USERNAME
              value: sonar
            - name: SONARQUBE_JDBC_PASSWORD
              value: sonarpass
            - name: SONAR_WEB_SYSTEMPASSCODE
              valueFrom:
                secretKeyRef:
                  name: sonar-monitoring-passcode
                  key: passcode
          ports:
            - containerPort: 9000
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
